.users-container {
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* column-gap: 5rem; */
}

.users-container___user {
  padding: 2rem;
  width: 20rem;
  background: #f9fff5;
  box-shadow: 0 1.5rem 4rem rgb(212, 212, 212);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  border: 1px solid rgb(241, 255, 240);
}

.users-container___user label {
  /* text-transform: capitalize; */
  background-image: linear-gradient(to right, #7dd56f, #28b487);
  color: transparent;
  background-clip: text;
  font-size: 1.3rem;
}

@media screen and (max-width: 500px) {
  .users-container {
    padding: 4rem 1rem;
    justify-content: center;
  }
  .users-container___user {
    width: 95%;
  }
}

.user-container__user__email,
.user-container__user__role {
  margin-bottom: 1rem;
}

.user-container__user__header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.user-container__user__header h2 {
  text-transform: capitalize;
  background-image: linear-gradient(to right, #7dd56f, #28b487);
  color: transparent;
  background-clip: text;
  font-size: 1.5rem;
}

.user-container__user__header__img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.update-role {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.update-user__form {
  display: flex;
  flex-direction: column;
}

.update-user__form__options {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
  /* column-gap: 2rem; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  column-gap: 1rem;
}

.update-role__radio-group {
  display: flex;
  align-items: center;
  /* margin-left: 2rem; */
}

.update-role__radio-group label {
  font-size: 1rem;
  color: rgb(136, 136, 136);
}

.update-role__radio-group input {
  width: 1rem;
  margin-right: 1rem;
}

.manage-users__btns {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.update-user__btn,
.delete-user__btn {
  /* width: 9rem; */
  font-size: 1rem;
  background-color: rgb(85, 197, 122);
  border: 0;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 4rem;
  text-transform: uppercase;
  margin: 0 auto;
  cursor: pointer;
}

/* .update-user__btn {
  margin-bottom: 1rem;
  margin-top: 1rem;
} */

.update-user__btn:hover,
.delete-user__btn:hover {
  transition: all 0.1s linear;
  transform: translateY(-3px);
}
