.me-container {
  position: relative;
  margin: 5rem;
  display: flex;
  width: auto;
  min-height: 150vh;
  background-color: white;
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);
  border-radius: 5px;
}

.apps-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 2rem;
  width: 2rem;
  color: #777;
  display: none;
  cursor: pointer;
}

.x {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  height: 1.5rem;
  width: 1.5rem;
  color: #f2f2f2;
  cursor: pointer;
}

.side-nav {
  background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
  padding: 3rem 0rem;
  width: 20rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 0.3s linear;
}

.admin-links {
  margin-top: 4rem;
}

.admin-links__header {
  border-bottom: 1px solid #f2f2f2;
  margin: 1rem 3rem;
}

.admin-links h3 {
  font-size: 0.9rem;
  color: #f2f2f2;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 600;
}

.component {
  width: 52rem;
  transition: all 0.3s linear;
}

.me__settings {
  padding: 3rem 10rem;
}

.side-nav__el {
  display: flex;
  align-items: center;
  color: #f2f2f2;
  text-decoration: none;
  padding: 1rem;
  transition: all 0.2s linear;
}
.active {
  border-left: 3px solid #f2f2f2;
}
.side-nav__el:hover {
  border-left: 3px solid #f2f2f2;
  transform: translateY(-5px);
}

.side-nav__el span {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.side-nav__el__icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.me__settings h2 {
  font-size: 2rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7dd56f, #28b487);
  color: transparent;
  background-clip: text;
  margin-bottom: 1rem;
}

.me__form-settings,
.me__form-password {
  display: flex;
  flex-direction: column;
}

.me__account {
  padding-bottom: 5rem;
  border-bottom: 0.1px solid rgb(219, 206, 206);
}
.me__password {
  padding-top: 3rem;
}

.me__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.me__group-img {
  display: flex;
  align-items: center;
}

#photo {
  display: none;
}

.settings-btn {
  width: auto;
  font-size: 0.9rem;
  background-color: #55c57a;
  border: 0;
  color: #fff;
  padding: 0.7rem 2rem;
  border-radius: 4rem;
  text-transform: uppercase;
  margin-left: auto;
}

.settings-btn:hover {
  transition: all 0.1s linear;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgb(230, 222, 222);
}

@media screen and (max-width: 1270px) {
  .side-nav {
    width: 15rem;
    padding: 3rem 0px;
  }
}

@media screen and (max-width: 1155px) {
  .component {
    width: 40rem;
  }
}

@media screen and (max-width: 965px) {
  .component {
    width: 30rem;
  }
  .me__settings {
    padding: 3rem 2rem;
  }
}

@media screen and (max-width: 805px) {
  .apps-icon {
    display: block;
  }
  .side-nav {
    width: 0;
  }
  .show-side-nav {
    width: 70vw;
  }
  .component {
    width: 70vw;
  }
  .hide-me-settings {
    /* display: none; */
    width: 0;
    overflow: hidden;
  }
  .me__settings h2 {
    font-size: 1.5rem;
  }

  .hide-apps-icon {
    display: none;
  }

  .show-x {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .settings-photo {
    height: 3rem;
    width: 3rem;
    margin-right: 0.1rem;
  }
  .photo-btn__settings {
    font-size: 0.8rem;
  }
}
