* {
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
/* app */
.App {
  line-height: 2;
  margin: 2rem;
  color: #777;
  font-family: 'Open Sans Condensed', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.08rem;
  transition: all 0.3s linear;
  background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 400px) {
  .App {
    margin: 2rem 1rem;
  }
}

/* nav bar */
.nav_container {
  /* margin: 2rem 2rem 0 2rem; */
  position: relative;
  background-color: #444;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s linear;
}

.btn_all_tours {
  margin-left: 3rem;
}

.btn_all_tours:hover {
  transition: all 0.1s linear;
  transform: translateY(-3px);
  text-shadow: 0 1rem 2rem rgb(0, 0, 0);
}
.nav_el:hover {
  transition: all 0.1s linear;
  transform: translateY(-3px);
  text-shadow: 0 1rem 2rem rgb(0, 0, 0);
}
#logo_img {
  position: absolute;
  left: 47%;
  margin-left: auto;
  margin-right: auto;
  height: 2.2rem;
}

@media screen and (min-width: 850px) {
  #nav_icon {
    display: none;
  }

  .nav_links {
    display: flex;
    justify-content: space-between;
  }

  .btn_signup {
    padding: 0.65rem 2rem;
    border: 1px #f7f7f7 solid;
    border-radius: 3rem;
    margin-right: 1.3rem;
  }
  .btn_signup:hover {
    background: #f7f7f7;
    color: #777;
    transform: translateY(-3px);
    text-shadow: 0 1rem 2rem rgb(0, 0, 0);
  }
}

@media screen and (max-width: 850px) {
  .hide_nav_links {
    position: absolute;
    /* top: 5rem;
    left: 4rem;
    right: 4rem; */
    /* margin-top: -300px; */
    transition: all 0.3s linear;
    height: 0;
    margin-top: -50px;
    overflow: hidden;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
  }
  .show_nav_links {
    position: absolute;
    top: 5rem;
    left: 4rem;
    right: 4rem;
    height: auto;
    /* width: 100%; */
    background-color: rgb(138, 133, 133);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s linear;
    z-index: 100;
  }
}
@media screen and (max-width: 450px) {
  .btn_all_tours {
    margin-left: 1rem;
  }
  .show_nav_links {
    left: 0;
    right: 0;
    width: 100%;
  }
}
#nav_icon {
  font-size: 2rem;
  color: #f7f7f7;
  margin-left: auto;
  margin-right: 1rem;
  cursor: pointer;
}

#nav_icon:hover {
  transition: all 0.1s linear;
  transform: translateY(-3px);
  text-shadow: 0 1rem 2rem rgb(0, 0, 0);
}

.nav_el {
  list-style: none;
  padding: 0.5rem;
  margin-right: 1rem;
}

.nav_link {
  text-decoration: none;
  color: #f7f7f7;
  text-transform: uppercase;
  font-size: 1.1rem;
}
.me-btn {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.nav-el__user-img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.btn_logout {
  margin-right: 1rem;
}

/* all tours page */
.tours_container {
  padding: 5rem 4rem;
  width: 100%;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  gap: 4rem;
  /* display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center; */
}

@media screen and (max-width: 500px) {
  .tours_container {
    padding: 5rem 1rem;
  }
}

.tour_container {
  height: auto;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgb(223, 221, 221);
  /* width: 95%; */
}

@media screen and (max-width: 400px) {
  .tours_container {
    /* width: 95%; */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  /* .tour_container {
    /* width: 80%; */
  /* }  */
}

.header_container {
  position: relative;
}

.img_container {
  border-radius: 3px;
  background-image: linear-gradient(
    to bottom right,
    rgba(91, 216, 72, 0.85),
    rgba(35, 204, 151, 0.85)
  );

  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 90%);
}

.singleTour_img {
  width: 100%;
  min-height: 15rem;
  object-fit: cover;
  /* height: 100%;
  width: 100%; */
  opacity: 0.35;
  /* margin-bottom: -10px; */
}

.singleTour_name {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  color: #fff;
  width: 70%;
  z-index: 10;
  text-align: right;
  line-height: 1.3;
  font-size: 2.2rem;
  font-weight: 300;
}

.singleTour_name span {
  text-transform: uppercase;
  padding: 0.2rem 1rem;
  box-decoration-break: clone;
  background-image: linear-gradient(
    to bottom right,
    rgba(125, 213, 111, 0.85),
    rgba(40, 180, 135, 0.85)
  );
  border: 1px solid rgba(134, 221, 120, 0.85);
}

.details_container {
  padding: 0rem 2rem 0rem 2rem;
}

.details_container h4 {
  text-transform: uppercase;
  letter-spacing: 0.01rem;
}
.details_container p {
  font-style: italic;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  font-size: 1rem;
  padding: 0.2rem 0;
}

.card_data {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
}

.card_el {
  display: flex;
  align-items: center;
}

.card_el span {
  padding-left: 0.5rem;
  font-size: 0.8rem;
}
.card_el_img {
  color: #55c57a;
  height: 1.3rem;
  width: 1.3rem;
}

.card_footer {
  padding: 1rem 2rem;
  background-color: #f3ecec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_data_el {
  display: flex;
  align-items: center;
}

.footer_price {
  font-style: initial;
  font-weight: bolder;
  padding-right: 0.2rem;
  font-size: 1rem;
}

.footer_data_el_detail {
  font-size: 0.9rem;
}

.details_link {
  padding: 0.4rem 1.9rem;
  border-radius: 3rem;
  background-color: #55c57a;
  font-size: 1.1rem;
}

.details_link:hover {
  transition: all 0.3s linear;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgb(230, 222, 222);
}

/* alert */
.notifacation {
  position: fixed;
  top: 0;
  height: auto;
  width: auto;
  text-align: center;
  text-transform: capitalize;
  color: #f7f7f7;
  padding: 1rem 5rem;
  font-size: 1.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  z-index: 1000;
  font-family: 'Open Sans Condensed', sans-serif;
}

@media screen and (max-width: 650px) {
  .notifacation {
    padding: 1rem 2rem;
  }
}

.success {
  background-color: #55c57a;
}

.fail,
.error {
  background-color: rgb(253, 101, 101);
}

.hide {
  display: none;
}

/* details page */

.tour_details {
  width: 100%;
}

.hero_container {
  position: relative;
  height: auto;
}

.hero_img_container {
  background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 92%);
  height: 90vh;
}

.hero_img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.2;
}

.hero_details {
  position: absolute;
  top: 18vh;
  left: 33vw;
  height: 200px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.hero_name {
  text-transform: uppercase;
  color: #fff;
  font-size: 4vw;
  font-weight: 100;
  width: 70%;
  height: 100px;
  line-height: 1.3;
  text-align: center;
}

.hero_name span {
  text-transform: uppercase;
  padding: 0.1rem 1rem;
  box-decoration-break: clone;
  background-image: linear-gradient(
    to bottom right,
    rgba(125, 213, 111, 0.85),
    rgba(40, 180, 135, 0.85)
  );
  border: 1px solid rgba(134, 221, 120, 0.85);
}

@media screen and (max-width: 725px) {
  .hero_img_container {
    height: 60vh;
  }
  .hero_details {
    top: 10vh;
    left: 28vw;
  }
}

.tour-description-container {
  padding: 2rem 10rem 0 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 5rem;
}

@media screen and (max-width: 830px) {
  .tour-description-container {
    padding: 0;
  }
}

.overview-box {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5rem;
}

.description-box {
  padding: 1rem;
  width: 100%;
}
.description-box__p {
  margin-bottom: 2rem;
  line-height: 2;
}

@media screen and (max-width: 500px) {
  .description-box {
    width: 90%;
  }
}

.overview-box__group__heading {
  text-transform: uppercase;
  color: #55c57a;
  font-size: 1.7rem;
  width: 100%;
  padding-bottom: 1.5rem;
  letter-spacing: 0.2rem;
}

.overview-box__group__el {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.overview-box__group__el__img {
  color: #55c57a;
  height: 1.7rem;
  width: 1.7rem;
  margin-right: 0.7rem;
}

.overview-box__group__el__p span {
  color: rgb(83, 80, 80);
  font-weight: 900;
  margin-right: 1.5rem;
  text-transform: uppercase;
}

.overview-box__group__el__img__user {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 0.7rem;
  border-radius: 50%;
}

.tour-details__imgs-container {
  position: relative;
  display: flex;
  align-items: center;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  height: 40rem;
  background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
  z-index: 10;
}

.tour-details__imgs-container__imgs {
  overflow: auto;
  white-space: nowrap;
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
}

/* .tour-details__imgs-container__img-container {
} */

.tour-details__imgs-container__img {
  object-fit: cover;
  width: 100%;
  height: 50vh;
  padding: 2rem 0;
}

.map-container {
  height: 50rem;
  width: 100%;
  margin-top: -10rem;
}

@media screen and (max-width: 830px) {
  .map-container {
    height: 40rem;
  }
}

.tour-details__reviews {
  position: relative;
  display: flex;
  align-items: center;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  /* height: auto; */
  padding: 12rem 0;
  background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
  z-index: 10;
  margin-top: -12rem;
}

/* .add-review__group h1 {
  color: #f7f7f7;
  font-family: inherit;
  font-weight: 100;
  text-transform: capitalize;
}

.add-review-icon {
  width: 2rem;
  height: 2rem;
} */

.tour-details__reviews-container {
  display: grid;
  grid-column-gap: 3rem;
  grid-auto-flow: column;
  overflow: auto;
  white-space: nowrap;
  padding: 0 5rem;
  /* overflow-x: scroll;
  scroll-snap-type: x mandatory; */
}

.review-card {
  position: relative;
  background-color: #f7f7f7;
  padding: 3rem;
  margin: 3rem 0;
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);
  border-radius: 3px;
  width: 18rem;
  /* height: 18rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-card__user {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.review-card__user p {
  font-size: 1.2rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.review-card__user-img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.review-card__p-1 {
  height: 10rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 2rem;
}

.review-card__p-2::-webkit-scrollbar {
  display: none;
}

.review-card__p-2 {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.review-card__p-2 {
  white-space: normal;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; /* exact value is given through JavaScript */
  overflow: scroll;
}
/* .review-card__p textarea {
  white-space: normal;
  font-size: 1.2rem;
  line-height: 1.7;
  width: 100%;
  margin-bottom: 2rem;
  font-family: inherit;
  border: none;
} */

.review-card__rating {
  position: absolute;
  bottom: 0.75rem;
  padding: 1rem;
}

.star {
  height: 1.2rem;
  width: 1.2rem;
  margin: 0.1rem;
  color: #a0db96;
}

.active {
  color: #28b487;
}

.add-review {
  position: relative;
  background-color: #f7f7f7;
  padding: 3rem 1rem 1rem 1rem;
  margin: 3rem 0;
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);
  border-radius: 3px;
  width: 18rem;
  /* height: 18rem; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.hide__add-review {
  display: none;
}

.colse-add-review {
  position: absolute;
  right: 1.5rem;
  cursor: pointer;
}

.input-group__review {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-group__review > textarea {
  font-size: 1.2rem;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #f2f2f2;
  border: none;
  border-radius: 3px;
  padding: 0.8rem;
  /* overflow: hidden; */
  height: 10rem;
  /* width: 15rem; */
}

.input-group__review textarea::-webkit-scrollbar {
  display: none;
}

.input-group__review textarea {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* .input-group__rating {
  margin-bottom: 1rem;
} */

.input-group__rating input {
  width: 4rem;
  height: 2rem;
  margin-left: 1rem;
}

.add-review button {
  margin: 0 auto;
  margin-top: 1rem;
  /* background-color: #70c38c; */
  border: 1px solid #777;
  color: #777;
  padding: 0.75rem 1rem;
  border-radius: 4rem;
  text-transform: uppercase;
  transition: all 0.3s linear;
}

.add-review__btn {
  position: absolute;
  top: 10rem;
  right: 3rem;

  cursor: pointer;
  border: 1px solid #f7f7f7;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  background: #f7f7f7;
  text-transform: capitalize;
  color: #777;
  font-family: inherit;
  font-weight: 100;
  font-size: 1.2rem;
  transition: all 0.3s linear;
}

.add-review__btn:hover,
.add-review button:hover {
  transform: translateY(-3px);
  /* background-color: #777; */
  /* color: #f7f7f7; */
}

/* end of reviews */

.section-cta {
  width: 75vw;
  background-color: white;
  border-radius: 20px;
  margin: 10rem auto;
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 3rem 0;
}

.section-cta__imgs {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

.section-cta__imgs__logo-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right bottom,
    rgb(125, 213, 111),
    rgb(40, 180, 135)
  );
  border-radius: 50%;
  padding: 1rem;
  width: 9rem;
  height: 9rem;
  z-index: 10;
  margin-left: -3rem;
}

.section-cta__logo {
  width: 100%;
}

.section-cta__img {
  border-radius: 50%;
  width: 8.5rem;
  height: 8.5rem;
  margin-left: -6rem;
}

.section-cta__img-1 {
  z-index: 9;
}
.section-cta__img-2 {
  z-index: 8;
}

.section-cta__q h2 {
  font-size: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7dd56f, #28b487);
  color: transparent;
  background-clip: text;
}

.section-cta__q p {
  font-size: 1.2rem;
}

@media screen and (max-width: 725px) {
  .section-cta__q h2 {
    font-size: 5vw;
  }

  .section-cta__q p {
    font-size: 3vw;
  }
}

.booking-btn {
  padding: 1rem 0rem;
  width: 15rem;
  border: 0;
  margin: 0 5rem;
  border-radius: 3rem;
  background-color: #55c57a;
  font-size: 1.1rem;
  color: #f7f7f7;
  text-transform: capitalize;
}

.booking-btn:hover {
  transition: all 0.1s linear;
  transform: translateY(-3px);
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);
}

@media screen and (max-width: 1100px) {
  .section-cta {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  .section-cta__imgs {
    margin-right: 0;
  }
  .section-cta__imgs__logo-container {
    margin-left: 0;
  }

  .section-cta__q {
    margin: 2rem 1rem;
  }
  .booking-btn {
    width: 10rem;
  }
}
