* {
  margin: 0;
  box-sizing: border-box;
}
/* app */
.App {
  line-height: 2;
  margin: 2rem;
  color: #777;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.05rem;
}

/* nav bar */
.nav_container {
  /* margin: 2rem 2rem 0 2rem; */
  background-color: #444;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn_all_tours {
  margin-left: 3rem;
}

.btn_all_tours:hover {
  transition: all 0.1s linear;
  transform: translateY(-3px);
  text-shadow: 0 1rem 2rem rgb(0, 0, 0);
}
.nav_el:hover {
  transition: all 0.1s linear;
  transform: translateY(-3px);
  text-shadow: 0 1rem 2rem rgb(0, 0, 0);
}
#logo_img {
  position: absolute;
  left: 47%;
  margin-left: auto;
  margin-right: auto;
  height: 2.2rem;
}

@media screen and (min-width: 725px) {
  #nav_icon {
    display: none;
  }

  .nav_links {
    display: flex;
    justify-content: space-between;
  }

  .btn_signup {
    padding: 1rem 1.7rem;
    border: 1px #f7f7f7 solid;
    border-radius: 3rem;
    margin-right: 2rem;
  }
  .btn_signup:hover {
    background: #f7f7f7;
    color: #777;
    transform: translateY(-3px);
    text-shadow: 0 1rem 2rem rgb(0, 0, 0);
  }
}

@media screen and (max-width: 724px) {
  .hide_nav_links {
    position: absolute;
    top: 7rem;
    left: 4rem;
    right: 4rem;
    margin-top: -300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transition: all 0.5s linear; */
  }
  .show_nav_links {
    position: absolute;
    top: 7rem;
    left: 4rem;
    right: 4rem;
    background-color: rgb(138, 133, 133);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s linear;
  }
}
@media screen and (max-width: 450px) {
  .btn_all_tours {
    margin-left: 1rem;
  }
}
#nav_icon {
  font-size: 2rem;
  color: #f7f7f7;
  margin-left: auto;
  margin-right: 1rem;
  cursor: pointer;
}

#nav_icon:hover {
  transition: all 0.1s linear;
  transform: translateY(-3px);
  text-shadow: 0 1rem 2rem rgb(0, 0, 0);
}

.nav_el {
  list-style: none;
  padding: 0.5rem;
  margin-right: 1rem;
}

.nav_link {
  text-decoration: none;
  color: #f7f7f7;
  text-transform: uppercase;
  font-size: 0.95rem;
}

/* all tours page */
.tours_container {
  padding: 5rem 4rem;
  width: 100%;
  background-color: #f7f7f7;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  gap: 5rem;
  /* display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center; */
}

.tour_container {
  /* background-color: rgb(102, 35, 35); */
  height: auto;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgb(184, 181, 181);
}

.img_container {
  background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.singleTour_img {
  /* width: 100%;
  height: auto; */
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.35;
  margin-bottom: -10px;
}
